body {
    background-image: url('../img/facatativa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

.card {
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #28a745; /* Cambiamos el color de fondo del encabezado a verde */
    color: #fff;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

    .card-header h3 {
        color: #fff; /* Mantenemos el color del texto del encabezado en blanco */
    }

.card-body {
    padding: 20px;
    backdrop-filter: blur(10px); /* Aplicamos el filtro de desenfoque al formulario */
    background-color: rgba(255, 255, 255, 0.5); /* Cambiamos la opacidad del fondo del formulario */
}

.form-label {
    text-align: left;
}

.form-input {
    text-align: left;
}

.form-control {
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8); /* Cambiamos la opacidad del fondo de los inputs */
    border: none; /* Eliminamos el borde */
    border-radius: 5px; /* Agregamos un borde redondeado */
}

.btn-container {
    margin-top: 20px;
    text-align: center;
}

.btn-primary {
    height: 50px;
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}body {
}
